@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>My Template</title>
    </head>
    <body>
        <h1>My Template</h1>
        @Umbraco.Field("pageName")
    </body>
</html>